<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div>
        <table class="table">
            <tr class="bg-primary">
                {% for col in nomicolonne %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for record in dati %}
                <tr>
                    {% for index in range(nomicolonne|length) %}
                        <td>
                            {{record[index]}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <img src="/grafico1" alt="grafico">
    </div>
</body>
