<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div>
        <form action ="/scelta" method="get">
            <p>scieglie il servizio <br>
                <input type = "radio" name = "servizio" value="1servizio" />i nomi dei prodotti con il brand <br>
                <input type = "radio" name = "servizio" value="2servizio" />i nomi dei prodotti che hanno uno stock superiore a 10 <br>
                <input type = "radio" name = "servizio" value="3servizio" />i nomi dei prodotti che hanno la parola cruiser nel nome <br>
                <input type = "radio" name = "servizio" value="4servizio" />i nomi dei prodotti che hanno la parola inserita dall'utente nel nome<br>
                <input type = "radio" name = "servizio" value="5servizio" />i brand con il numero dei loro prodotti<br>
            </p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    </div>
</body>