<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <form action="/scelta" method="get">
        <input type="radio" name="servizio" value="servizio1"> nomi dei clienti che hanno una mail di gmail <br> 
        <input type="radio" name="servizio" value="servizio2"> ordini non ancora spediti <br>
        <input type="radio" name="servizio" value="servizio3"> prodotti acquistati da Johnathan Velazquez <br>
        <input type="radio" name="servizio" value="servizio4"> prodotti aquistati dalla persona inserita dall'utente <br>
        <input type="radio" name="servizio" value="servizio5"> nome dello store con piu dipendenti <br>
        <input type="submit" value="submit answer">
    </form>
</body>