<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <form action="/servizio4" method="get">
        <input type="text" name="nome"> inserire il nome dell'acquirente <br>
        <input type="text" name="cognome"> inserire il cognome dell'acquirente <br>
        <input type="submit" value="cerca">
    </form>
</body>